# linters and formatters
black==23.12.1
isort==5.13.2
flake8==6.1.0
flake8-bugbear==23.12.2
flake8-print==5.0.0
flake8-simplify==0.21.0
dlint==0.14.1

# unit tests
pytest-cov==4.1.0
pytest==7.4.3

# to release on pypi
wheel==0.42.0
twine==4.0.2
